<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Greetings DS Team!</h1>

    <h2>Top 100 Github Repos Database</h2>

    <h4>Builder: Add more repos to the database</h4>

    <form action="/ds/repos/add" method="POST">
        <label>Add a repository to the database:</label>
        <p>For example: if the link is "https://github.com/kubernetes/kubernetes" <br/>
        then you would pass in "kubernetes/kubernetes". In Github terms, the order <br/>
        is "username/repository".</nav></p>
        <input type="text" name="repo" placeholder="username/repository">
        
        <button>Submit</button>
    </form>

    <br/>
    
    <h4>Get JSON response of any Github repository:</h4>

    <form action="/repos/commits" method="POST">
        <label>Get <i>commits</i> response in JSON:</label>
        <input type="text" name="repo_commits" placeholder="username/repository">
    
        <button>Submit</button>
    </form>
    <br/>
    <form action="/repos/comments" method="POST">
        <label>Get <i>comments</i> response in JSON:</label>
        <input type="text" name="repo_comments" placeholder="username/repository">
    
        <button>Submit</button>
    </form>

    <br/>

    <h4>Plots</h4>

    <!--issues comments link-->
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~npgeorge/50.embed"></iframe>   
    <br/>

    <!--- merge fractions link -->
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~npgeorge/40.embed"></iframe>
    <br/>
    
    <!-- code frequency link -->
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~npgeorge/43.embed"></iframe>
    <br/>
     
    <!-- top contributors -->
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~npgeorge/66.embed"></iframe>
    <br/>
     
    <!-- yearly commit activity-->
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~npgeorge/79.embed"></iframe>
    <br/>

    <!-- yearly code frequency-->
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~npgeorge/91.embed"></iframe>
    <br/>

    <!-- last weeks daily commits-->
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~npgeorge/89.embed"></iframe>
    <br/>
    
</body>
</html>