<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
</head>
<body>
    <h1>Greetings Web Team!</h1>
    <p>Enjoy the various endpoints by clicking on the button below.</p>
    <br/>
    
    <h4>Plotly Charts for Kubernetes</h4>
    <form action="/web/kubernetes" method="GET">
        <p>The kubernetes/kubernetes repository charts:
            <button>Get Charts</button>
        </p>
    </form>

</body>
</html>
